# Python
__pycache__/
*.py[cod]

# Virtual Environment
env/
venv/

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
db.sqlite3

# Static & media
/staticfiles/
/media/

# Environment variables
.env

# VSCode & IDEs
.vscode/
.idea/
